<div class="post">
    <a href="<%- url_for(post.path) %>" title="<%- post.title || "Untitled" %>">
        <img src="../../img/叶/9409<%= (x+1)%5 %>.jpg" alt="news" class="cover" style="height: 440px;width:auto;">
    </a>
    <div class="else">
        <p><%- post.date.locale("zh-cn").format("MMMM DD, YYYY") %></p>
        <h3><%- link_to(post.path, post.title || "Untitled", {class: "posttitle"}) %></h3>
        <p><%- truncate(strip_html(post.content), {length: 80, omission: '...'}) %></p>
    </div>
</div>
